autostart/
awesome/
Bitwarden/
bob/
bruno/
cat_installer/
chromium/
composer/
configstore/
dconf/
discord/
Electron/
flutter/
fvm/
gcloud/
gh/
ghc/
GIMP/
glib-2.0/
go/
gtk-3.0/
heaptrack_gui
htop/
keepassxc/
libreoffice/
mimeapps.list
mpv/
Mullvad VPN/
Mumble/
obsidian/
pnpm/
pulse/
qBittorrent/
QtProject.conf
Signal/
swi-prolog/
systemd
user-dirs.dirs
user-dirs.locale
VirtualBox/
vlc/
wiki-tui/
wireshark/
yay/
zoom/
zoom.conf
zoomus.conf
